@page
@model Final_Project.Pages_Streamers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Streamer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Streamer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Streamer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Streamer.MainGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Streamer.MainGame)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Streamer.StreamerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
