@page
@model Final_Project.Pages_VideoGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideoGame[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoGame[0].AvgCompletionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoGame[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoGame[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoGame[0].AvgRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VideoGame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgCompletionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
